@import 'variables';
@import 'mixins';

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--tui-base-01);
  @include transition-color-bgc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.6rem;
}

p {
  margin-top: 2rem;
  line-height: 1.7 !important;

  .tippy-content & {
    margin-top: 0;
  }
}

b,
strong {
  font-weight: 800;
}

em {
  position: relative;
  padding: 0 0.25rem;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--tui-text-03);
    border-radius: 0.2rem;
    opacity: 0.3;
  }
}

.tui-list {
  margin-top: 1rem;
}

t-demo-code {
  display: block;
  margin-top: 1.2rem;
}

t-demo {
  display: block;
  margin-top: 2rem;
}

.dark-scheme img {
  filter: brightness(.8) contrast(1.2);
}

.tui-button {
  font-weight: 400 !important;
}

tui-notification {
  margin-top: 1rem;
}

.tui-table-wrapper {
  margin-top: 2rem;
  padding: 0.5rem 1.25rem;
  background: var(--tui-clear);
  border-radius: 0.75rem;
  @include transition-color-bgc;
}

.tui-table-wrapper .tui-table__tr:not(.tui-table__tr_hover_disabled):hover {
  background-color: var(--tui-base-02);

  .light-scheme & {
    background-color: var(--tui-base-04);
  }
}
