@import 'variables';
@import 'mixins';

:root {
  --font-noto: 'Noto Sans', sans-serif;
}

body {
  background-color: var(--tui-base-01);
  @include transitions;
}

.dark-scheme img {
  filter: brightness(.8) contrast(1.2);
}

.t-root-content {
  width: 100%;
  height: 100%;
}
