$header-height: 84px;
$main-bg-color: #f9f8f5;
$main-font-size: 18px;

$sol-base0: #839496;

$sol-dark-base00: #657b83;
$sol-dark-base01: #586e75;
$sol-dark-base02: #073642;
$sol-dark-base03: #002b36;

$sol-light-base1: #93a1a1;
$sol-light-base2: #eee8d5;
$sol-light-base3: #fdf6e3;

$sol-yellow: #b58900;
$sol-orange: #cb4b16;
$sol-red: #dc322f;
$sol-magenta: #d33682;
$sol-violet: #6c71c4;
$sol-blue: #268bd2;
$sol-cyan: #2aa198;
$sol-green: #859900;
