<div class="t-workboard">
  <div class="t-workboard__block">
    <button class="t-workboard__btn"  data-tippy-content="Tooltip content">Element with tooltip</button>
  </div>

  <div class="t-workboard__block">
    <ngx-tippy-singleton [singletonProps]="singleton" [singletonName]="'first'">
      <div class="t-workboard__grouped">
        <button
          class="t-workboard__btn"
        >
          Singleton
        </button>

        <button
          class="t-workboard__btn"
        >
          Singleton
        </button>
        <button
          class="t-workboard__btn"
        >
          Singleton
        </button>
      </div>
    </ngx-tippy-singleton>
  </div>

  <div class="t-workboard__block">
    <ngx-tippy-singleton [singletonProps]="singletonDark">
      <div class="t-workboard__grouped">
        <button
          class="t-workboard__btn"
        >
          Singleton
        </button>

        <button
          class="t-workboard__btn"
        >
          Singleton
        </button>
        <button
          class="t-workboard__btn"
        >
          Singleton
        </button>
      </div>
    </ngx-tippy-singleton>
  </div>
</div>
