<div class="t-demo">
  <div class="t-demo__block">

    <h2 class="t-demo__heading">Basic examples</h2>

    <!-- Example - 1 -->
    <p class="t-demo__text">Basic tooltip</p>

    <button class="t-demo__btn" ngxTippy data-tippy-content="Tooltip content">
      Element with tooltip
    </button>

    <!-- Example - 1 -->
    <p class="t-demo__text">Basic tooltip</p>

    <button class="t-demo__btn" ngxTippy>
      Element with tooltip
    </button>

    <!-- Example - 2 -->
    <p class="t-demo__text">Applying props from template</p>

    <button
      class="t-demo__btn"
      ngxTippy
      data-tippy-content="Tooltip content"
      [tippyProps]="{
        arrow: false,
        placement: 'bottom'
      }"
    >
      Element with tooltip
    </button>

    <!-- Example - 3 -->
    <p class="t-demo__text">Applying props from component</p>

    <button
      class="t-demo__btn"
      ngxTippy
      data-tippy-content="Tooltip content"
      [tippyProps]="tippyPropsEx3"
      tippyClassName="custom another-class"
    >
      Element with tooltip
    </button>


    <!-- Example - 4 -->
    <p class="t-demo__text">Build in <b>shift-toward</b> animation</p>

    <button
      class="t-demo__btn"
      ngxTippy
      data-tippy-content="Tooltip content"
      [tippyProps]="{
        arrow: false,
        placement: 'bottom',
        animation: 'shift-toward'
      }"
    >
      Element with tooltip
    </button>

    <!-- Example - 5 -->
    <p class="t-demo__text">Custom animation</p>

    <button
      class="t-demo__btn"
      ngxTippy
      data-tippy-content="Tooltip content"
      [tippyProps]="{
        arrow: false,
        placement: 'bottom',
        animation: 'rotate'
      }"
    >
      Element with tooltip
    </button>
  </div>

  <div class="t-demo__block">
    <h2 class="t-demo__heading">Applying content</h2>

    <!-- Example - 6 -->
    <p class="t-demo__text">
      Applying content using
      <span class="t-demo__highlighted">data</span> attribute
    </p>

    <button class="t-demo__btn" ngxTippy data-tippy-content="Tooltip content">
      Element with tooltip
    </button>

    <!-- Example - 7 -->
    <p class="t-demo__text">
      Applying content using
      <span class="t-demo__highlighted">content</span> prop
    </p>

    <button
      class="t-demo__btn"
      ngxTippy
      [tippyProps]="{
        allowHTML: true,
        content: '<p>Tooltip <strong>HTML</strong> content</p>'
      }"
    >
      Element with tooltip
    </button>

    <!-- Example - 8 -->
    <p class="t-demo__text">
      Applying content using binded
      <span class="t-demo__highlighted">content</span> prop
    </p>

    <button
      class="t-demo__btn"
      ngxTippy
      tippyName="content-10"
      [tippyProps]="tippyPropsEx10"
    >
      Element with tooltip
    </button>

    <!-- Example - 9 -->
    <p class="t-demo__text">
      Applying content using
      <span class="t-demo__highlighted">setContent()</span> method
    </p>

    <button class="t-demo__btn" ngxTippy tippyName="content-9">
      Element with tooltip
    </button>

    <!-- Example - 10 -->
    <p class="t-demo__text">
      Applying content using <span class="t-demo__highlighted">tippyProps</span>
    </p>

    <button class="t-demo__btn" ngxTippy [tippyProps]="tippyPropsEx8">
      Element with tooltip
    </button>

    <!-- Example - 11 -->
    <p class="t-demo__text">
      Applying content passing
      <span class="t-demo__highlighted">template reference</span> directly
    </p>

    <div>
      <button
        class="t-demo__btn"
        [ngxTippy]="tippyTemplate"
        tippyName="content-11"
        [tippyProps]="tippyPropsEx11"
      >
        Element with tooltip
      </button>

      <div #tippyTemplate>
        <h4>Caption</h4>
        <p>Some content</p>
        <button (click)="onTemplateClick($event)">Action</button>
        ...
      </div>
    </div>

    <!-- Example - 12 -->
    <p class="t-demo__text">
      Applying content passing <span class="t-demo__highlighted">element</span>
    </p>

    <button
      class="t-demo__btn"
      ngxTippy
      tippyName="content-12"
      [tippyProps]="tippyPropsEx12"
    >
      Element with tooltip
    </button>

    <div #tippyTemplateEx12>
      <h4>Caption</h4>
      <p>Some content</p>
      <button (click)="onTemplateClick($event)">Action</button>
      ...
    </div>

    <!-- Example - 13 -->
    <p class="t-demo__text">
      Applying content passing
      <span class="t-demo__highlighted">element.innerHTML</span>
    </p>

    <button
      class="t-demo__btn"
      ngxTippy
      tippyName="content-13"
      [tippyProps]="tippyPropsEx13"
    >
      Element with tooltip
    </button>

    <div
      #tippyTemplateEx13
      style="display: none;"
    >
      <h4>Caption</h4>
      <p>Some content</p>
      ...
    </div>
  </div>

  <div class="t-demo__block">
    <h2 class="t-demo__heading">Control specific tippy instance</h2>

    <!-- Example - 14 -->
    <p class="t-demo__text">
      Manual control and event subscribe (look to browser console)
    </p>

    <div>
      <button
        class="t-demo__btn"
        ngxTippy
        tippyName="instance-14"
        [tippyProps]="instanceEx14"
      >
        Element with tooltip
      </button>
    </div>

    <h2 class="t-demo__heading">Grouped tooltips</h2>

    <!-- Example - 15 -->
    <ngx-tippy-group [tippyProps]="tippyPropsEx15">
      <div class="t-demo__grouped">
        <button
          class="t-demo__btn"
          data-grouped
          data-tippy-content="Tooltip content"
        >
          Group
        </button>

        <button
          class="t-demo__btn"
          data-grouped
          data-tippy-content="Tooltip content"
        >
          Group
        </button>

        <button
          class="t-demo__btn"
          data-grouped
          data-tippy-content="Tooltip content"
        >
          Group
        </button>
      </div>
    </ngx-tippy-group>

    <h2 class="t-demo__heading">Multiple tooltips on a single element</h2>

    <!-- Example - 16 -->
    <div
      class="t-demo__btn-wrap"
      ngxTippy
      data-tippy-content="First tooltip"
      [tippyProps]="{
        animation: 'shift-away',
        delay: 200,
        placement: 'top',
        theme: 'light'
      }"
    >
      <div
        class="t-demo__btn-wrap"
        ngxTippy
        data-tippy-content="Second tooltip"
        [tippyProps]="{
        animation: 'shift-away',
        delay: 400,
        placement: 'bottom',
        theme: 'light'
      }"
      >
        <button
          class="t-demo__btn"
          ngxTippy
          data-tippy-content="Third tooltip"
          [tippyProps]="{
          animation: 'shift-away',
          delay: 800,
          placement: 'right',
          theme: 'light'
        }"
        >
          Element with tooltips
        </button>
      </div>
    </div>

    <h2 class="t-demo__heading">Singleton</h2>

    <!-- Example - 17 -->
    <ngx-tippy-singleton [tippyProps]="instanceEx17">
      <div class="t-demo__grouped">
        <button
          class="t-demo__btn"
          data-singleton
          data-tippy-content="First tooltip content"
        >
          Singleton
        </button>

        <button
          class="t-demo__btn"
          data-singleton
          data-tippy-content="Second tooltip content"
        >
          Singleton
        </button>

        <button
          class="t-demo__btn"
          data-singleton
          data-tippy-content="Third tooltip content"
        >
          Singleton
        </button>
      </div>
    </ngx-tippy-singleton>

    <p class="t-demo__text">
      Overridden props
    </p>

    <!-- Example - 18 -->
    <ngx-tippy-singleton [tippyProps]="instanceEx16">
      <div class="t-demo__grouped">
        <button
          class="t-demo__btn"
          data-singleton
          data-tippy-content="First tooltip content"
          data-tippy-placement="bottom"
        >
          Singleton
        </button>

        <button
          class="t-demo__btn"
          data-singleton
          data-tippy-content="Second tooltip content"
          data-tippy-arrow="false"
        >
          Singleton
        </button>

        <button
          class="t-demo__btn"
          data-singleton
          data-tippy-content="Third tooltip content"
        >
          Singleton
        </button>
      </div>
    </ngx-tippy-singleton>
  </div>
</div>
