<div class="t-demo">
  <div class="t-demo__block">

    <h2 class="t-demo__heading">Basic examples</h2>

    <!-- Example block -->
    <p class="t-demo__text">Basic tooltip</p>

    <button class="t-demo__btn" ngxTippy data-tippy-content="Tooltip content">
      Element with tooltip
    </button>

    <!-- Example block -->
    <p class="t-demo__text">Applying props from template</p>

    <button
      class="t-demo__btn"
      ngxTippy
      data-tippy-content="Tooltip content"
      [tippyProps]="{
        arrow: false,
        placement: 'bottom'
      }"
    >
      Element with tooltip
    </button>

    <!-- Example block -->
    <p class="t-demo__text">Applying props from component</p>

    <button
      class="t-demo__btn"
      ngxTippy
      data-tippy-content="Tooltip content"
      [tippyProps]="tippyPropsFromComponent"
      tippyClassName="custom another-class"
    >
      Element with tooltip
    </button>


    <!-- Example block -->
    <p class="t-demo__text">Build in <b>shift-toward</b> animation</p>

    <button
      class="t-demo__btn"
      ngxTippy
      data-tippy-content="Tooltip content"
      [tippyProps]="{
        arrow: false,
        placement: 'bottom',
        animation: 'shift-toward'
      }"
    >
      Element with tooltip
    </button>

    <!-- Example block -->
    <p class="t-demo__text">Custom animation</p>

    <button
      class="t-demo__btn"
      ngxTippy
      data-tippy-content="Tooltip content"
      [tippyProps]="{
        arrow: false,
        placement: 'bottom',
        animation: 'rotate'
      }"
    >
      Element with tooltip
    </button>
  </div>

  <div class="t-demo__block">
    <h2 class="t-demo__heading">Applying content</h2>

    <!-- Example block -->
    <p class="t-demo__text">
      Applying content passing string to
      <span class="t-demo__highlighted">directive</span>
      directly
    </p>

    <button class="t-demo__btn" ngxTippy="Directly passed content">
      Element with tooltip
    </button>

    <!-- Example block -->
    <p class="t-demo__text">
      Applying content using
      <span class="t-demo__highlighted">data</span> attribute
    </p>

    <button class="t-demo__btn" ngxTippy data-tippy-content="Tooltip content">
      Element with tooltip
    </button>

    <!-- Example block -->
    <p class="t-demo__text">
      Applying content using
      <span class="t-demo__highlighted">content</span> prop
    </p>

    <button
      class="t-demo__btn"
      ngxTippy
      [tippyProps]="{
        allowHTML: true,
        content: '<p>Tooltip <strong>HTML</strong> content</p>'
      }"
    >
      Element with tooltip
    </button>

    <!-- Example block -->
    <p class="t-demo__text">
      Applying content using binded
      <span class="t-demo__highlighted">content</span> prop
    </p>

    <button
      class="t-demo__btn"
      ngxTippy
      [tippyProps]="tippyPropsBindedProp"
    >
      Element with tooltip
    </button>

    <!-- Example block -->
    <p class="t-demo__text">
      Applying content using
      <span class="t-demo__highlighted">setContent()</span> method
    </p>

    <button class="t-demo__btn" ngxTippy tippyName="set-content">
      Element with tooltip
    </button>

    <!-- Example block -->
    <p class="t-demo__text">
      Applying content using <span class="t-demo__highlighted">tippyProps</span>
    </p>

    <button class="t-demo__btn" ngxTippy [tippyProps]="tippyPropsBinding">
      Element with tooltip
    </button>

    <!-- Example block -->
    <p class="t-demo__text">
      Applying content passing
      <span class="t-demo__highlighted">template reference</span> directly
    </p>

    <div>
      <button
        class="t-demo__btn"
        [ngxTippy]="tippyTemplate"
        tippyName="template-ref"
        [tippyProps]="tippyPropsTemplateRef"
      >
        Element with tooltip
      </button>

      <div #tippyTemplate>
        <h4>Caption</h4>
        <p>Some content</p>
        <button (click)="onTemplateClick($event)">Action</button>
        ...
      </div>
    </div>

    <!-- Example block -->
    <p class="t-demo__text">
      Applying content passing <span class="t-demo__highlighted">element</span>
    </p>

    <button
      class="t-demo__btn"
      ngxTippy
      tippyName="pass-element"
      [tippyProps]="tippyPropsPassElement"
    >
      Element with tooltip12
    </button>

    <div #tippyTemplatePassElement>
      <h4>Caption</h4>
      <p>Some content</p>
      <button (click)="onTemplateClick($event)">Action</button>
      ...
    </div>

    <!-- Example block -->
    <p class="t-demo__text">
      Applying content passing
      <span class="t-demo__highlighted">element.innerHTML</span>
    </p>

    <button
      class="t-demo__btn"
      ngxTippy
      tippyName="inner-html"
      [tippyProps]="tippyPropsPassInnerHTML"
    >
      Element with tooltip
    </button>

    <div
      #tippyTemplatePassInnerHTML
      style="display: none;"
    >
      <h4>Caption</h4>
      <p>Some content</p>
      ...
    </div>
  </div>

  <div class="t-demo__block">
    <h2 class="t-demo__heading">Plugins usage</h2>

    <!-- Example block -->
    <p class="t-demo__text">
      Follow cursor
    </p>

    <div>
      <button
        class="t-demo__btn"
        ngxTippy="Tooltip content"
        [tippyProps]="tippyPropsPlugin"
      >
        Element with tooltip
      </button>
    </div>

    <!-- Example block -->
    <p class="t-demo__text">
      Animate fill
    </p>

    <div>
      <button
        class="t-demo__btn"
        ngxTippy="Tooltip content"
        [tippyProps]="tippyPropsAnimateFill"
      >
        Element with tooltip
      </button>
    </div>

    <h2 class="t-demo__heading">Control specific tippy instance</h2>

    <!-- Example block -->
    <p class="t-demo__text">
      Manual control and event subscribe (look to browser console)
    </p>

    <div>
      <button
        class="t-demo__btn"
        ngxTippy
        tippyName="manual-control"
        [tippyProps]="tippyPropsManualControl"
      >
        Element with tooltip
      </button>
    </div>

    <h2 class="t-demo__heading">Grouped tooltips</h2>

    <!-- Example block -->
    <ngx-tippy-group [tippyProps]="tippyPropsGrouped">
      <div class="t-demo__grouped">
        <button
          class="t-demo__btn"
          data-grouped
          data-tippy-content="Tooltip content"
        >
          Grouped
        </button>

        <button
          class="t-demo__btn"
          data-grouped
          data-tippy-content="Tooltip content"
        >
          Grouped
        </button>

        <button
          class="t-demo__btn"
          data-grouped
          data-tippy-content="Tooltip content"
        >
          Grouped
        </button>
      </div>
    </ngx-tippy-group>

    <h2 class="t-demo__heading">Multiple tooltips on a single element</h2>

    <!-- Example block -->
    <div
      class="t-demo__btn-wrap"
      ngxTippy
      data-tippy-content="First tooltip"
      [tippyProps]="{
        animation: 'shift-away',
        delay: 200,
        placement: 'top',
        theme: 'light'
      }"
    >
      <div
        class="t-demo__btn-wrap"
        ngxTippy
        data-tippy-content="Second tooltip"
        [tippyProps]="{
        animation: 'shift-away',
        delay: 400,
        placement: 'bottom',
        theme: 'light'
      }"
      >
        <button
          class="t-demo__btn"
          ngxTippy
          data-tippy-content="Third tooltip"
          [tippyProps]="{
          animation: 'shift-away',
          delay: 800,
          placement: 'right',
          theme: 'light'
        }"
        >
          Element with tooltips
        </button>
      </div>
    </div>

    <h2 class="t-demo__heading">Singleton</h2>

    <!-- Example block -->
    <ngx-tippy-singleton [tippyProps]="tippyPropsSingleton">
      <div class="t-demo__grouped">
        <button
          class="t-demo__btn"
          data-singleton
          data-tippy-content="First tooltip content"
        >
          Singleton
        </button>

        <button
          class="t-demo__btn"
          data-singleton
          data-tippy-content="Second tooltip content"
        >
          Singleton
        </button>

        <button
          class="t-demo__btn"
          data-singleton
          data-tippy-content="Third tooltip content"
        >
          Singleton
        </button>
      </div>
    </ngx-tippy-singleton>

    <p class="t-demo__text">
      Overridden props
    </p>

    <!-- Example block -->
    <ngx-tippy-singleton [tippyProps]="tippyPropsSingletonOverrides">
      <div class="t-demo__grouped">
        <button
          class="t-demo__btn"
          data-singleton
          data-tippy-content="First tooltip content"
          data-tippy-placement="bottom"
        >
          Singleton
        </button>

        <button
          class="t-demo__btn"
          data-singleton
          data-tippy-content="Second tooltip content"
          data-tippy-arrow="false"
        >
          Singleton
        </button>

        <button
          class="t-demo__btn"
          data-singleton
          data-tippy-content="Third tooltip content"
        >
          Singleton
        </button>
      </div>
    </ngx-tippy-singleton>
  </div>
</div>
