@import 'mixins';

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__icon {
  color: var(--tui-text-02);
  opacity: 0.8;
  @include transition-opacity;

  &:hover {
    opacity: 1;
  }
}

.social__icon--github {
  margin-left: 0.5rem;
}
