@import 'variables';

$animation-time: 3s;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
}

.header__hero {
  display: flex;
  align-items: center;
}

.header__title {
  font-size: 1.2rem;
}

.header__badge {
  background-color: var(--tui-support-04);
  margin-left: 0.5rem;
}

.header__actions {
  display: flex;
  align-items: center;
}

.header__scheme-switcher {
  margin-left: 2rem;
}

.header__img {
  width: 100%;
  max-width: 60px;
  height: auto;
  max-height: $header-height;
  animation: animation-bounce $animation-time ease infinite alternate;
}

.header__img--tippy {
  position: relative;
  left: -25px;
  z-index: -1;
  animation-name: animation-bounce-reversed;
}

.header__social {
  margin-left: 2rem;
}

.header__support-link {
  display: flex;
  height: 100%;
  align-items: center;
}

.header__support-icon {
  height: 46px;
  width: 162px;
  border-radius: 1.5rem
}


@keyframes animation-bounce-reversed {
  0% {
    transform: translate3d(0, 10px, 0) rotate(0.01deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@keyframes animation-bounce {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, 10px, 0) rotate(0.01deg);
  }
}
