@import 'variables';

$animation-time: 3s;

.t-demo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-demo-header__logo {}

.t-demo-header__img {
  width: 100%;
  max-width: 60px;
  height: auto;
  max-height: $header-height;
  animation: animation-bounce $animation-time ease infinite alternate;
}

.t-demo-header__img--tippy {
  position: relative;
  left: -25px;
  z-index: -1;
  animation-name: animation-bounce-reversed;
}

@keyframes animation-bounce-reversed {
  0% {
    transform: translate3d(0, 10px, 0) rotate(0.01deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@keyframes animation-bounce {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, 10px, 0) rotate(0.01deg);
  }
}
