@import 'variables';

$animation-time: 3s;

.t-demo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-demo-header__logo {}

.t-demo-header__img {
  width: 100%;
  max-width: 60px;
  height: auto;
  max-height: $header-height;
  animation: animation-bounce $animation-time ease infinite alternate;
}

.t-demo-header__img--tippy {
  position: relative;
  left: -25px;
  z-index: -1;
  animation-name: animation-bounce-reversed;
}

.t-demo-header__theme {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tui-text-02);
  background-color: var(--tui-base-03);
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
}

.t-demo-header__icon {
  cursor: pointer;
  border-radius: 100%;
  padding: 0.2rem;
  transition: background-color 0.2s ease, color 0.1s ease-in-out;

  &:hover {
    color: var(--tui-text-01-night);
    background-color: var(--tui-base-07);
  }
}

.t-demo-header__icon--active {
  color: var(--tui-text-01-night);
  background-color: var(--tui-base-07);
}

.t-demo-header__icon--night {
  margin-left: 1rem;
}

@keyframes animation-bounce-reversed {
  0% {
    transform: translate3d(0, 10px, 0) rotate(0.01deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@keyframes animation-bounce {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, 10px, 0) rotate(0.01deg);
  }
}
