@import 'variables';
@import 'mixins';

.not-supported {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.not-supported__info {
  padding: 1rem 2rem;
  position: relative;
  z-index: 1;
}

.not-supported__hero {
  position: absolute;
  right: 0;
  width: 40rem;
  height: 40rem;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;

  @include max-w($mobile-sm) {
    right: -6rem;
  }
}

.tui-text_h2 {
  @include max-w($mobile-sm) {
    font: var(--tui-font-heading-3);
  }
}
