@import 'mixins';

:host {
  ::ng-deep {
    .on-condition-input {
      width: 70%;
    }
  }

  .demo {
    display: flex;
    align-items: center;
    font: var(--tui-font-text-m);
    padding: 1rem 2rem;
    background: var(--tui-clear);
    border-radius: 0.75rem;
    @include transition-color-bgc;
  }
}
