<div class="getting-started">

  <h1 class="tui-text_h3 tui-space_top-0">Getting started</h1>

  <h6 class="tui-text_h6">Recommended versions to use</h6>

  <!-- Versions to use -->

  <ul class="tui-list">
    <li class="tui-list__item">
      <span>Angular <b>14, 15, 16</b></span>
      <tui-badge
        status="custom"
        value="6.x.x"
        class="tui-list__badge"
      ></tui-badge>
    </li>
    <li class="tui-list__item">
      <span>Angular <b>13</b></span>
      <tui-badge
        status="custom"
        value="5.x.x"
        class="tui-list__badge"
      ></tui-badge>
    </li>
    <li class="tui-list__item">
      <span>Angular <b>12</b></span>
      <tui-badge
        status="custom"
        value="4.x.x"
        class="tui-list__badge"
      ></tui-badge>
    </li>
    <li class="tui-list__item">
      <span>Angular <b> 9, 10, 11</b></span>
      <tui-badge
        status="custom"
        value="3.x.x"
        class="tui-list__badge"
      ></tui-badge>
    </li>
    <li class="tui-list__item">
      <span>Angular <b> 8</b></span>
      <tui-badge
        status="custom"
        value="2.x.x"
        class="tui-list__badge"
      ></tui-badge>
    </li>
  </ul>

  <!-- Installation -->

  <h6 class="tui-text_h6">Installation</h6>

  <t-demo-code [snippet]="snippets.installation.snippet"></t-demo-code>

  <!-- Importing -->

  <h6 class="tui-text_h6">Importing</h6>

  <p class="tui-text_body-m-2">Import <em>NgxTippyModule</em>:</p>

  <t-demo-code
    *tuiLet="snippets.importing_1 as s"
    [snippet]="s.snippet"
    [languages]="s.languages"
  ></t-demo-code>

  <p class="tui-text_body-m-2">Then in your <em>main</em> or <em>feature</em> module:</p>

  <t-demo-code
    *tuiLet="snippets.importing_2 as s"
    [snippet]="s.snippet"
    [languages]="s.languages"
  ></t-demo-code>

  <p class="tui-text_body-m-2">Import <em>tippy.css</em> style to your main style file:</p>

  <t-demo-code
    *tuiLet="snippets.css as s"
    [snippet]="s.snippet"
    [languages]="s.languages"
  ></t-demo-code>

  <p>or <em>angular.json</em>:</p>

  <t-demo-code
    *tuiLet="snippets.css_ng as s"
    [snippet]="s.snippet"
    [languages]="s.languages"
  ></t-demo-code>

  <p class="tui-text_body-m-2">Import <em>optional</em> tippy styles:</p>

  <t-demo-code
    *tuiLet="snippets.themes as s"
    [snippet]="s.snippet"
    [languages]="s.languages"
  ></t-demo-code>

  <t-demo-code
    *tuiLet="snippets.anim as s"
    [snippet]="s.snippet"
    [languages]="s.languages"
  ></t-demo-code>

  <t-demo-code
    *tuiLet="snippets.arrow as s"
    [snippet]="s.snippet"
    [languages]="s.languages"
  ></t-demo-code>

</div>
