<div class="nav">
  <ul class="nav__list">

    <li class="nav__item">
      <a
        class="nav__link"
        tuiLink
        routerLink="/getting-started"
      >
        Getting started
      </a>

    </li>

    <li class="nav__item">
      <a
        class="nav__link"
        tuiLink
        routerLink="/usage"
      >
        Usage
      </a>

      <tui-expand [expanded]="isSublistExpanded">
        <ul class="nav__sub-list">
          <li class="nav__sub-item">
            <a
              class="nav__link"
              tuiLink
              routerLink="/usage"
              fragment="basic_usage"
              (click)="onFragmentNav('basic_usage')"
            >
              Basic usage
            </a>
          </li>
          <li class="nav__sub-item">
            <a
              class="nav__link"
              tuiLink
              routerLink="/usage"
              fragment="initializing_on_condition"
              (click)="onFragmentNav('initializing_on_condition')"
            >
              Initializing on condition
            </a>
          </li>
        </ul>
      </tui-expand>
    </li>

    <li class="nav__item">
      <a
        class="nav__link"
        tuiLink
        routerLink="/applying-props"
      >
        Applying props
      </a>

    </li>
  </ul>
</div>
