<tui-root
  class="t-demo"
  *tuiLet="(schemeService.scheme$ | async) as scheme"
  [tuiMode]="scheme === Schemes.Dark ? 'onDark' : null"
>

  <tui-theme-night *ngIf="scheme === Schemes.Dark"></tui-theme-night>

  <header class="t-demo__header">
    <t-demo-header></t-demo-header>
  </header>

  <main class="t-demo__main">

    <!-- <div class="demo">
      <p>Here you can reproduce any Taiga UI example</p>
      <p>
        <tui-input [(ngModel)]="value"> Type some value </tui-input>
      </p>
      <button
        tuiButton
        appearance="secondary"
      >Submit</button>
    </div> -->

    <nav class="t-demo__nav">
      <t-demo-nav></t-demo-nav>
    </nav>

    <div class="t-demo__content">
      <t-demo-content></t-demo-content>
    </div>
  </main>

  <footer class="t-demo__footer">
    <t-demo-footer></t-demo-footer>
  </footer>

</tui-root>
