@import 'variables';

.t-demo {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 100%;
}

.t-demo__header {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  box-shadow: 0 0.125rem 1rem #00000014;
  padding: 0.5rem 1.25rem;
  background: var(--tui-base-01);
  border-bottom: 1px solid var(--tui-base-03);
}

.t-demo__main {
  display: flex;
  justify-content: space-between;
  margin-top: $header-height;
}

.t-demo__nav {
  position: fixed;
  top: $header-height;
  width: 10rem;
  height: 100%;
}

.t-demo__content {
  padding: 5rem;
  margin-left: 10rem;
}
