.t-demo {
  background-color: burlywood;
}

.t-demo__header {
  background-color: aqua;
}

.t-demo__main {
  background-color: brown;
}

.t-demo__nav {
  background-color: chocolate;
}

.t-demo__content {
  background-color: orange;
}

.t-demo__footer {
  background-color: coral;
}
