@import 'variables';
@import 'mixins';

.t-demo {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 100%;

  @include max-w($mobile-lg) {
    display: none;
  }
}

.t-not-supported {
  display: none;

  @include max-w($mobile-lg) {
    display: block;
  }
}

.t-demo__header {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  box-shadow: 0 0.125rem 1rem #00000014;
  padding: 0.5rem 1.25rem;
  background: var(--tui-base-01);
  border-bottom: 0.1rem solid var(--tui-base-03);
  z-index: 1;
}

.t-demo__main {
  display: flex;
  justify-content: space-between;
  margin-top: $header-height;
}

.t-demo__nav {
  position: fixed;
  top: $header-height;
  width: 16rem;
  height: 100%;
  padding: 2rem 1.5rem;

  @include max-w($tablet) {
    width: 10rem;
  }
}

.t-demo__wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem 5rem;
  margin-left: 16rem;
  width: 100%;

  @include max-w($tablet) {
    margin-left: 10rem;
    padding: 1rem 2.5rem;
  }
}

.t-demo__content {
  width: 100%;
  max-width: 62.5rem;

}
