<tui-root
  *tuiLet="(schemeService.scheme$ | async) as scheme"
  [tuiMode]="scheme === Schemes.Dark ? 'onDark' : null"
>

  <tui-theme-night *ngIf="scheme === Schemes.Dark"></tui-theme-night>

  <div
    *ngIf="!isMobile; else notSupported"
    class="t-demo"
  >
    <header class="t-demo__header">
      <t-demo-header></t-demo-header>
    </header>

    <main class="t-demo__main">
      <nav class="t-demo__nav">
        <t-demo-nav></t-demo-nav>
      </nav>

      <div class="t-demo__wrapper">
        <div class="t-demo__content">
          <t-demo-content></t-demo-content>
        </div>
      </div>
    </main>

    <footer class="t-demo__footer">
      <t-demo-footer></t-demo-footer>
    </footer>
  </div>

  <ng-template #notSupported>
    <div class="t-not-supported">
      <t-demo-not-supported></t-demo-not-supported>
    </div>
  </ng-template>

</tui-root>
