<div class="demo-page">

  <h1 class="tui-text_h3">Demo page</h1>

  <!-- Simple tooltip -->

  <h6 class="tui-text_h6">
    Simple tooltip:
  </h6>

  <t-demo>
    <button
      class="tui-button"
      size="m"
      tuiButton
      ngxTippy="Tooltip content"
      type="button"
      appearance="primary"
      [tippyProps]="{
        placement: 'right'
      }"
    >
      Button
    </button>
  </t-demo>

  <!-- Placements -->

  <h6 class="tui-text_h6">
    Placements:
  </h6>

  <t-demo>
    <div class="demo-page__grid">
      <div
        class="demo-page__child demo-page__child--placements"
        *ngFor="let tooltip of tooltips | defaultOrderKeyvalue"
        [ngxTippy]="tooltip.value.content"
        tippyClassName="demo-page__emojii"
        [tippyProps]="{
            placement: tooltip.value.item,
            arrow: false,
            offset: [4, 4],
            animation: 'shift-toward',
            duration: [250, 200]
          }"
      >
        {{ tooltip.value.item }}
      </div>
    </div>
  </t-demo>

  <!-- Animations -->

  <h6 class="tui-text_h6">
    Animations:
  </h6>

  <t-demo>
    <div class="demo-page__grid">
      <div
        class="demo-page__child"
        *ngFor="let animation of animations | defaultOrderKeyvalue"
        [ngxTippy]="animation.value.content"
        tippyClassName="demo-page__emojii"
        [tippyProps]="{
            arrow: false,
            offset: [4, 4],
            animation: animation.value.item
          }"
      >
        {{ animation.value.item }}
      </div>
    </div>
  </t-demo>

  <!-- Custom animation -->

  <h6 class="tui-text_h6">
    Custom animation:
  </h6>

  <t-demo>
    <div class="demo-page__grid--long">
      <div
        class="demo-page__child"
        tippyClassName="demo-page__custom-anim"
        [ngxTippy]="train"
        [tippyProps]="{
            arrow: false,
            offset: [42, 4],
            animation: 'custom-shift'
          }"
      >
        custom-shift
      </div>

      <ng-template #train>
        <img
          class="demo-page__train"
          src="assets/img/train.png"
          alt="train"
        >
      </ng-template>
    </div>
  </t-demo>

  <!--  Custom animation with inertia -->

  <h6 class="tui-text_h6">
    Custom animation with
    <a
      href="https://atomiks.github.io/tippyjs/v6/animations/#inertia"
      target="_blank"
      rel="noopener noreferrer"
      tuiLink
    >inertia</a>:
  </h6>

  <t-demo>
    <div class="demo-page__grid--long">
      <div
        class="demo-page__child"
        tippyClassName="demo-page__custom-anim"
        [ngxTippy]="train"
        [tippyProps]="{
            arrow: false,
            offset: [42, 4],
            animation: 'custom-shift',
            inertia: true
          }"
      >
        custom-shift + inertia
      </div>

      <ng-template #train>
        <img
          class="demo-page__train"
          src="assets/img/train.png"
          alt="train"
        >
      </ng-template>
    </div>
  </t-demo>

  <!--  Themes -->

  <h6 class="tui-text_h6">
    Themes:
  </h6>

  <t-demo>
    <div class="demo-page__themes">
      <div
        *ngFor="let theme of ['light', 'light-border', 'material', 'transcluded']"
        class="demo-page__child demo-page__child--theme"
        [ngxTippy]="theme + ' theme'"
        tippyClassName="custom-theme"
        [tippyProps]="{
            arrow: false,
            theme,
            animation: 'shift-toward'
          }"
      >
        {{ theme }}
      </div>

      <ng-template #train>
        <img
          class="demo-page__train"
          src="assets/img/train.png"
          alt="train"
        >
      </ng-template>
    </div>
  </t-demo>

  <!-- Custom theme -->

  <h6 class="tui-text_h6">
    Custom theme:
  </h6>

  <t-demo>
    <button
      class="tui-button"
      size="m"
      tuiButton
      ngxTippy="Custom theme content"
      type="button"
      appearance="primary"
      [tippyProps]="{
        placement: 'right',
        theme: 'pastel',
        arrow: false
      }"
    >
      Custom theme
    </button>
  </t-demo>

  <!--  Triggers -->

  <h6 class="tui-text_h6">
    Triggers:
  </h6>

  <tui-notification
    status="info"
    class="service-demo tui-space_vertical-4"
  >
    mouseenter | focus | click | focusin | manual
  </tui-notification>


  <t-demo>
    <button
      class="tui-button"
      size="m"
      tuiButton
      ngxTippy="Tooltip content"
      type="button"
      appearance="primary"
      [tippyProps]="{
        placement: 'bottom',
        trigger: 'mouseenter focus'
      }"
    >
      mouseenter/focus
    </button>

    <button
      class="tui-button demo-page__trigger"
      size="m"
      tuiButton
      ngxTippy="Tooltip content"
      type="button"
      appearance="primary"
      [tippyProps]="{
        placement: 'bottom',
        trigger: 'focus',
        hideOnClick: false
      }"
    >
      focus
    </button>

    <button
      class="tui-button demo-page__trigger"
      size="m"
      tuiButton
      ngxTippy="Tooltip content"
      type="button"
      appearance="primary"
      [tippyProps]="{
        placement: 'bottom',
        trigger: 'focusin',
        hideOnClick: false
      }"
    >
      focusin
    </button>

    <button
      class="tui-button demo-page__trigger"
      size="m"
      tuiButton
      ngxTippy="Tooltip content"
      type="button"
      appearance="primary"
      tippyName="feistyFawn"
      [tippyProps]="{
        placement: 'bottom',
        trigger: 'manual'
      }"
    >
      manual
    </button>
  </t-demo>

  <t-demo>
    <span
      (click)="showManualTooltip()"
      class="demo-page__manual"
    >Click to show tooltip with 'manual' trigger</span>
  </t-demo>
</div>
