<div class="header">
  <div
    class="header__hero"
    tabindex="0"
  >
    <div class="header__logo">
      <img
        class="header__img header__img--ng"
        src="assets/icons/angular.svg"
        alt="angular logo"
      >
      <img
        class="header__img header__img--tippy"
        src="assets/icons/tippy.svg"
        alt="tippy.js logo"
      >
    </div>

    <h2 class="header__title">ngx-tippy-wrapper</h2>
  </div>

  <div class="header__actions">
    <div class="header__social">
      <social></social>
    </div>
    <div class="header__scheme-switcher">
      <scheme-switcher></scheme-switcher>
    </div>
  </div>
</div>
