.nav-box {
  height: calc(100% - 128px);
}

.nav__list {
  font-size: 1rem;
}

.nav__item:not(:first-child) {
  margin-top: 1rem;
}

.nav__sub-list {
  border-left: 0.15rem solid var(--tui-base-04);
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.nav__sub-item:not(:first-child) {
  margin-top: 0.75rem;
}
