<div class="not-supported">

  <div class="not-supported__info">
    <h1 class="tui-text_h2">Switch Device or <br> Resize Your Browser</h1>
    <p class="tui-text_body-l-2">Please switch to a desktop device or widen your browser. Application is not available
      in smaller resolutions.</p>
  </div>

  <div
    *tuiLet="(schemeService.scheme$ | async) as scheme"
    [style.background-image]="scheme === Schemes.Dark ?
      'url(' + '../../assets/img/submarine-d.png' + ')' :
      'url(' + '../../assets/img/submarine-l.png' + ')'"
    class="not-supported__hero"
  ></div>
</div>
