<div class="getting-started">

  <h1 class="tui-text_h3">Getting started</h1>

  <h6 class="tui-text_h6">Recommended versions to use</h6>

  <ul class="tui-list">
    <li class="tui-list__item">
      <span>Angular <b>14, 15, 16</b></span>
      <tui-badge
        status="custom"
        value="6.x.x"
        class="tui-list__badge"
      ></tui-badge>
    </li>
    <li class="tui-list__item">
      <span>Angular <b>13</b></span>
      <tui-badge
        status="custom"
        value="5.x.x"
        class="tui-list__badge"
      ></tui-badge>
    </li>
    <li class="tui-list__item">
      <span>Angular <b>12</b></span>
      <tui-badge
        status="custom"
        value="4.x.x"
        class="tui-list__badge"
      ></tui-badge>
    </li>
    <li class="tui-list__item">
      <span>Angular <b> 9, 10, 11</b></span>
      <tui-badge
        status="custom"
        value="3.x.x"
        class="tui-list__badge"
      ></tui-badge>
    </li>
    <li class="tui-list__item">
      <span>Angular <b> 8</b></span>
      <tui-badge
        status="custom"
        value="2.x.x"
        class="tui-list__badge"
      ></tui-badge>
    </li>
  </ul>

  <h6 class="tui-text_h6">Installation</h6>

  <p class="tui-text_body-m">Install from npm:</p>

  <t-demo-code
    [snippet]="'npm i ngx-tippy-wrapper --save'"
    language="typescript"
  ></t-demo-code>
</div>
