name: 'lib-workflow'

on:
  push:
    branches: ['**']

  workflow_dispatch:

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: '16'
          cache: 'npm'

      - name: Install main dependencies
        run: npm install

      - name: Install lib dependencies
        run: npm install --prefix ./projects/ngx-tippy-wrapper

      - name: Run unit-tests and generate test coverage
        run: npm run unit-tests:lib-coverage

      - name: Upload coverage report to codecov
        uses: codecov/codecov-action@v4
        with:
          files: ./coverage/ngx-tippy-wrapper/lcov.info
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Build lib npm package
        run: npm run package

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: lib-npm-package
          path: dist/ngx-tippy-wrapper/ngx-tippy-wrapper-**.tgz

      - name: Install lib to demo app
        run: npm install dist/ngx-tippy-wrapper/ngx-tippy-wrapper-**.tgz

      - name: Build demo app in production mode
        run: npm run build:demo

      - name: Deploy demo app to gh-pages
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: dist/ngx-tippy-demo
